@import "../../styles/variables.scss";
@import "../../styles/extends/helpers.scss";


.loader {
  @extend %flex-center;

  flex-grow: 1;

  &__spinner {
    border: 5px dotted $c-secondary;
    border-radius: 50%;

    animation: rotation 2s linear infinite;
  }
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
} 
