@import "../../styles/variables.scss";
@import "../../styles/mixins/screens.scss";

.home {
  display: flex;
  flex-direction: column;
  min-height: calc(100vh - env(safe-area-inset-top) - env(safe-area-inset-bottom));

  background-color: $c-primary;
}
