@import "../../../styles/variables.scss";
@import "../../../styles/extends/typography.scss";
@import "../../../styles/extends/helpers.scss";
@import "../../../styles/mixins/screens.scss";

.category {
  @extend %main-typography;
  @extend %flex-center;

  width: 100px;
  padding: 10px 0;

  color: $c-typography-primary;

  border-radius: 20px;
  background-color: #fff;

  cursor: pointer;
  transition: all 0.3s ease-in-out;

  @include onTablet {
    width: 170px;
    padding: 20px 0;
  }

  &:hover {
    color: #fff;
    background-color: $c-secondary;
  }

  &:active {
    color: #fff;
    background-color: $c-secondary;
  }

  &--selected {
    color: #fff;
    background-color: $c-secondary;
  }
}