@import "./styles/reset.scss";
@import "./styles/variables.scss";

* {
  box-sizing: border-box;
}

html {
  font-family: "Raleway", "sans-serif";
}

body {
  padding: 
    env(safe-area-inset-top) 
    env(safe-area-inset-right)
    env(safe-area-inset-bottom)
    env(safe-area-inset-left);
    
  background-color:$c-primary;
}
